.table-responsive.matches-table
  %table.table
    %thead
      %th
      %th.match-home-team Home Team
      %th.match-vs vs
      %th.match-away-team Away Team
      %th
    %tbody
      - matches.each do |match|
        %tr
        %tr
          %td.match-week= present(match).week
          %td.match-home-team= present(match.home_team).link
          %td.match-vs
            - match.rounds.each do |round|
              = present(round).score(roster)
              %span.round-map
                //= round.map

          - if !match.bye?
            %td.match-away-team= present(match.away_team).link
            %td.match-view= present(match).link("Match Page")
          - else
            %td.match-away-team= 'BYE'
            %td
