- team = f.object

= f.text_field :name

.clearfix
  = image_tag team.avatar.icon.url, class: 'pull-left thumbnail' if team.avatar?

  = f.file_field :avatar, accept: 'image/png,image/jpeg'
  = f.hidden_field :avatar_cache

= f.text_area :description, rows: 10
