.panel.panel-default
  .panel-heading Information
  .panel-body
    = bootstrap_form_for @team, method: :patch do |f|
      = render 'team_form', f: f

      = f.submit 'Save'
      = link_to 'Cancel', team_path(@team), class: 'btn btn-default'

    = link_to users_permissions_path(action_: :edit, subject: :team, target: @team.id),
              class: 'pull-right btn btn-default' do
      Manage Permissions
      %span.glyphicon.glyphicon-cog

- unless @team.rosters.exists?
  .panel.panel-danger
    .panel-heading Danger Zone
    .panel-body
      = button_to team_path(@team), method: :delete, class: 'btn btn-danger',
                  data: { confirm: 'Are you sure you want to delete this Team?' } do
        %span.glyphicon.glyphicon-trash
        Delete Team
