= form_for @team, method: :patch do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'

  = f.submit 'Save', class: 'btn btn-default'
  = link_to 'Cancel', team_path(@team), class: 'btn btn-default'
