.panel.panel-default
  .panel-heading Information
  .panel-body
    = bootstrap_form_for @team, method: :patch do |f|
      = render 'team_form', f: f

      = f.submit 'Save', class: 'btn btn-default'
      = link_to 'Cancel', team_path(@team), class: 'btn btn-default'

- if users_who_can_edit.length > 0
  .panel.panel-default
    .panel-heading Permissions
    %ul.list-group
      - users_who_can_edit.each do |user|
        %li.list-group-item
          = link_to user.name, user_path(user)
          .button-group.pull-right
            = button_to revoke_team_path(@team, user_id: user.id),
                        method: :patch, class: 'btn btn-danger' do
              Revoke
              %span.glyphicon.glyphicon-remove
