%h1 Teams

.row
  .col-sm-3.col-md-3.pull-right
    = render 'search'

.panel.panel-default
  - if user_signed_in?
    .panel-body
      = link_to new_team_path, class: 'btn btn-default pull-right', type: 'button' do
        Start Team
        %span.glyphicon.glyphicon-plus

  - if @teams.empty?
    .panel-body No teams found...
  - else
    %ul.list-group
      - @teams.each do |team|
        %li.list-group-item
          = link_to team_path(team) do
            = team.name

= bootstrap_paginate @teams
