- content_for(:title) { 'Teams' }

- if user_signed_in?
  = link_to new_team_path, class: 'btn btn-secondary pull-right', type: 'button' do
    Start Team
    = inline_svg_tag 'open_iconic/plus.svg', class: 'icon ml-1'

%h1 Teams

= render 'search'

- if @teams.empty?
  %p.mt-2
    No users found...
- else
  %ul.list-group.mt-2
    - @teams.each do |team|
      %li.list-group-item
        = render 'teams/listing', team: team

= bootstrap_paginate @teams, list_classes: ['pagination justify-content-center mt-4']
