= form_for @team do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :description
    = f.text_area :description, rows: 10, class: 'form-control'

  = f.submit 'Create Team', class: 'btn btn-default'
  = link_to 'Cancel', :back, class: 'btn btn-default'

- if @team.errors.any?
  %ul
    - @team.errors.full_messages.each do |msg|
      %li= msg
