- content_for(:title) { "Invite: #{@team.name}" }

%h1 Users

= render 'search'

- if @users.empty?
  %p.mt-2
    No users found…
- else
  %table.table.mt-2
    - @users.each do |user|
      %tr
        %td= render 'users/listing', user: user
        %td
          = button_to invite_team_path(@team, user_id: user.id),
                      method: :patch, class: 'btn btn-success pull-right',
                      disabled: @team.invited?(user) || @team.on_roster?(user) do
            Invite
            = inline_svg_tag 'open_iconic/plus.svg', class: 'icon ml-1'

= bootstrap_paginate @users, list_classes: ['pagination justify-content-center mt-4']
