- content_for(:title) { @team.name }

- team_p = present(@team)

- if user_can_edit_team?
  = link_to edit_team_path(@team), class: 'btn btn-secondary pull-right ml-3', type: 'button' do
    Settings
    = inline_svg_tag 'open_iconic/cog.svg', class: 'icon ml-1'

.d-flex.align-items-start.mb-4
  = image_tag @team.avatar.icon.url, class: 'rounded mr-3', width: '100', height: '100'

  .d-flex.flex-column.align-self-stretch.ml-3
    .row.align-items-center
      %h2.spaced-letters.mr-2.mb-0
        = @team.name

- if team_p.notice != ''
  .card.mb-3
    .card-header Public Notice
    .card-body.markdown= team_p.notice

.nav.nav-tabs#tabs{ role: 'tablist' }
  %a.nav-item.nav-link.active#info-tab{ href: '#info', role: 'tab', data: { toggle: 'tab' },
                                        aria: { controls: 'info', selected: 'true' } }
    Info
  - unless @active_rosters.empty? && @past_rosters.empty?
    %a.nav-item.nav-link#leagues-tab{ href: '#leagues', role: 'tab', data: { toggle: 'tab' },
                                      aria: { controls: 'leagues', selected: 'false' } }
      Leagues
  %a.nav-item.nav-link#players-tab{ href: '#players', role: 'tab', data: { toggle: 'tab' },
                                   aria: { controls: 'players', selected: 'false' } }
    Players

.tab-content.mt-3#tab-content
  .tab-pane.show.active#info{ role: 'tabpanel', aria: { kabekkedby: 'info-tab' } }
    = render 'teams/show_info', team: @team, team_p: team_p,
                                upcoming_matches: @upcoming_matches, active_rosters: @active_rosters

  - unless @active_rosters.empty? && @past_rosters.empty?
    .tab-pane#leagues{ role: 'tabpanel', aria: { kabekkedby: 'leagues-tab' } }
      = render 'teams/show_leagues', team: @team, active_rosters: @active_rosters,
                                     active_roster_matches: @active_roster_matches, users: @users,
                                     past_rosters: @past_rosters, past_roster_matches: @past_roster_matches

  .tab-pane#players{ role: 'tabpanel', aria: { kabekkedby: 'players-tab' } }
    = render 'teams/show_players', invite: @invite, team: @team, transfers: @transfers, players: @players, users: @users
