- if user_can_edit_team?
  = link_to edit_team_path(@team), class: 'btn btn-default pull-right', type: 'button' do
    Settings
    %span.glyphicon.glyphicon-cog

%h1= @team.name

.panel.panel-default
  .panel-heading Info
  .panel-body= markdown @team.description

.panel.panel-default
  .panel-heading Roster
  - if user_can_edit_team?
    .panel-body
      = link_to recruit_team_path(@team), class: 'btn btn-default' do
        Invite
        %span.glyphicon.glyphicon-plus
  %ul.list-group
    - @team.players.each do |user|
      %li.list-group-item
        = user_listing(user)

        - if user == current_user
          .button-group.pull-right
            = button_to leave_team_path(@team), method: :patch, class: 'btn btn-danger',
                        data: { confirm: 'Are you sure you want to leave this team?' } do
              Leave
              %span.glyphicon.glyphicon-remove
        - elsif user_can_edit_team?
          .button-group.pull-right
            = button_to leave_team_path(@team, user_id: user.id),
                        method: :patch, class: 'btn btn-danger',
                        data: { confirm: "Are you sure you want to kick #{user.name}?" } do
              Kick
              %span.glyphicon.glyphicon-remove

.panel.panel-default
  .panel-heading Transfers
  %ul.list-group
    - transfers.each do |transfer|
      %li.list-group-item
        = user_listing(transfer.user)
        - if transfer.is_joining?
          joined the team
        - else
          left the team
        on #{transfer.created_at.strftime('%c')}

.panel.panel-default
  .panel-heading Leagues
  %ul.list-group
    - @team.competition_rosters.each do |roster|
      %li.list-group-item
        = link_to roster.competition, league_path(roster.competition)
        #{roster.division}: #{link_to roster, league_roster_path(roster.competition, roster)}.
        Signed up on #{roster.created_at.strftime('%c')}.

        - if user_can_edit_team?
          .button-group.pull-right
            = link_to edit_league_roster_path(roster.competition, roster),
                      class: 'btn btn-default' do
              Manage
              %span.glyphicon.glyphicon-cog
