- if user_can_edit_team?
  = link_to edit_team_path(@team), class: 'btn btn-default pull-right', type: 'button' do
    Settings
    %span.glyphicon.glyphicon-cog

.clearfix
  = image_tag @team.avatar.icon.url, class: 'pull-left thumbnail' if @team.avatar?

  %h1= @team.name

.panel.panel-default
  .panel-heading Info
  .panel-body= markdown @team.description

.panel.panel-default
  .panel-heading Roster
  - if user_can_edit_team?
    .panel-body
      = link_to recruit_team_path(@team), class: 'btn btn-default' do
        Invite
        %span.glyphicon.glyphicon-plus
  %ul.list-group
    - if user_signed_in? && @team.invited?(current_user)
      %li.list-group-item.list-group-item-info
        You have been invited to join this team

        - invite = @team.invite_for(current_user)
        .button-group.pull-right
          = button_to decline_team_invite_path(invite),
                      method: :patch, class: 'btn btn-danger' do
            Decline
            %span.glyphicon.glyphicon-remove
        .button-group.pull-right
          = button_to accept_team_invite_path(invite),
                      method: :patch, class: 'btn btn-success' do
            Accept
            %span.glyphicon.glyphicon-ok

    - @team.player_users.each do |user|
      %li.list-group-item
        - if user == current_user
          .button-group.pull-right
            = button_to leave_team_path(@team), method: :patch, class: 'btn btn-danger',
                        data: { confirm: 'Are you sure you want to leave this team?' } do
              Leave
              %span.glyphicon.glyphicon-remove
        - elsif user_can_edit_team?
          .button-group.pull-right
            = button_to leave_team_path(@team, user_id: user.id),
                        method: :patch, class: 'btn btn-danger',
                        data: { confirm: "Are you sure you want to kick #{user.name}?" } do
              Kick
              %span.glyphicon.glyphicon-remove

        = render 'users/listing', user: user, team: @team

.panel.panel-default
  .panel-heading Transfers
  %ul.list-group
    - @team.transfers.each do |transfer|
      %li.list-group-item
        = present(transfer.user).link
        - if transfer.is_joining?
          joined the team
        - else
          left the team
        on #{transfer.created_at.strftime('%c')}

- unless @team.rosters.empty?
  .panel.panel-default
    .panel-heading Leagues
    %ul.list-group
      - @team.rosters.includes(division: :league).each do |roster|
        %li.list-group-item
          = link_to roster.league, league_path(roster.league)
          - roster_p = present roster
          #{roster.division}: #{roster_p.link}.
          Signed up on #{roster_p.created_at_s}.

  .panel.panel-default
    .panel-heading Upcoming Matches
    %ul.list-group
      - @team.rosters.each do |roster|
        - matches = roster.matches.pending.includes(:home_team, :away_team)
        - present_collection(matches).each do |match|
          %li.list-group-item= match.link
