- if user_can_edit_team?
  =link_to edit_team_path(@team), class: 'btn btn-default pull-right', type: 'button' do
    Settings
    %span.glyphicon.glyphicon-cog

%h1= @team.name

.panel.panel-default
  .panel-heading Info
  .panel-body= markdown @team.description

.panel.panel-default
  .panel-heading Roster
  - if user_can_edit_team?
    .panel-body
      = link_to recruit_team_path(@team), class: 'btn btn-default' do
        Invite
        %span.glyphicon.glyphicon-plus
  %ul.list-group
    - @team.roster.each do |user|
      %li.list-group-item
        = link_to user.name, user_path(user)

.panel.panel-default
  .panel-heading Transfers
  %ul.list-group
    - @team.transfers.each do |transfer|
      %li.list-group-item
        = link_to transfer.user.name, user_path(transfer.user)
        - if transfer.is_joining?
          joined the team
        - else
          left the team
        = "on #{transfer.created_at.strftime('%c')}"
