- match_p = present(@match)

%h1 #{present(@league).link}: #{@match.home_team.division.name}
%h2= match_p.link

.panel.panel-default
  .panel-heading Info
  .panel-body
    = bootstrap_form_for @comm, as: :comm, url: comm_path(@comm) do |f|
      = render 'form', f: f

      = f.submit 'Update'
      = link_to 'Cancel', match_path(@match), class: 'btn btn-default'

- if user_can_edit_league?
  .panel.panel-danger
    .panel-heading Danger Zone
    .panel-body
      = button_to comm_path(@comm), method: :delete, class: 'btn btn-danger',
                  data: { confirm: 'Are you sure you want to delete this Post?' } do
        %span.glyphicon.glyphicon-trash
        Delete
