- subheading ||= nil

- if object
  - presenter = present(object)

  %nav.mt-2.mb-3.my-lg-3
    %ol.breadcrumb.bg-transparent.pl-0.py-1.mb-1
      %li.breadcrumb-item
        = link_to forums_path(nil) do
          Home

      = presenter.breadcrumbs

    %h3
      = presenter

      - if subheading
        %small.text-muted.ml-2
          = subheading

- else
  %nav.mt-2.mb-3.my-lg-3
    %ol.breadcrumb.bg-transparent.pl-0.py-1.mb-1
      %li.breadcrumb-item.active
        Home

    %h3
      Forums

      - if subheading
        %small.text-muted.ml-2
          = subheading
