%li.list-group-item.nested-fields
  = f.text_field :name, class: 'form-control'
  = f.text_area :description, rows: 3, class: 'form-control'

  #division-teams-range.form-group
    Teams
    .form-inline
      = f.number_field :min_players, in: 1..16, label: 'Minimum'
      = f.number_field :max_players, in: 1..16, label: 'Maximum'

  #division-player-range.form-group
    Players
    .form-inline
      = f.number_field :min_players, min: 1, label: 'Minimum'
      = f.number_field :max_players, min: 1, label: 'Maximum'

  %hr

  = link_to_remove_association f, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-trash
    Delete

