.panel.panel-default
  .panel-heading Info
  .panel-body
    = f.select :format_id, format_options
    = f.text_field :name
    = f.text_area :description, rows: 10

.panel.panel-default
  .panel-heading  Players
  .panel-body
    .form-group
      = f.number_field :min_players, min: 1, label: 'Minimum'
    .form-group
      = f.number_field :max_players, min: 0, label: 'Maximum (0 for unlimited)'

.panel.panel-default
  .panel-heading State
  .panel-body
    = f.check_box :signuppable
    = f.check_box :roster_locked
    = f.check_box :matches_submittable
    = f.check_box :transfers_require_approval
    = f.check_box :allow_set_draws

.panel.panel-default
  .panel-heading Points
  .panel-body
    = f.number_field :points_per_set_won
    = f.number_field :points_per_set_drawn
    = f.number_field :points_per_set_lost
    = f.number_field :points_per_match_forfeit_loss, label: 'Points per match lost by forfeit'
    = f.number_field :points_per_match_forfeit_win, label: 'Points per match won by forfeit'

.panel.panel-default
  .panel-heading Divisions

  %ul.list-group
    = f.fields_for :divisions do |division_f|
      = render 'division_fields', f: division_f
    #divisions

  .panel-body
    %div
      = link_to_add_association f, :divisions, class: 'btn btn-default pull-right',
                                'data-association-insertion-node' => '#divisions' do
        %span.glyphicon.glyphicon-plus
        Add Division
