.panel.panel-default
  .panel-heading Info
  .panel-body
    = f.select :format_id, format_options
    = f.text_field :name
    = f.text_area :description, rows: 10

.panel.panel-default
  .panel-heading State
  .panel-body
    = f.check_box :signuppable
    = f.check_box :roster_locked

.panel.panel-default
  .panel-heading Divisions

  %ul.list-group
    = f.fields_for :divisions do |division_f|
      = render 'division_fields', f: division_f
    #divisions

  .panel-body
    %div
      = link_to_add_association f, :divisions, class: 'btn btn-default pull-right',
                                'data-association-insertion-node' => '#divisions' do
        %span.glyphicon.glyphicon-plus
        Add Division
