.alert.alert-warning
  - if @competition.public?
    %string Public
    All changes are visible to everyone.
  - else
    %string
      %span.glyphicon.glyphicon-lock
      Private

= form_for @competition, url: leagues_path(@competition) do |f|
  = render 'league_form', f: f

  = f.submit 'Update', class: 'btn btn-default'
  = link_to 'Cancel', :back, class: 'btn btn-default'

- if @competition.errors.any?
  %ul
    - @competition.errors.full_messages.each do |msg|
      %li= msg

%hr

- if user_can_edit_leagues?
  .panel.panel-danger
    .panel-heading Danger Zone
    .panel-body
      = button_to league_path(@competition), method: :delete, class: 'btn btn-danger' do
        %span.glyphicon.glyphicon-trash
        Delete

      - if @competition.private?
        = button_to 'Make Public', league_visibility_path(@competition, private: false), method: :patch, class: 'btn btn-warning'
      - else
        = button_to 'Make Private', league_visibility_path(@competition, private: true), method: :patch, class: 'btn btn-danger'
