.alert.alert-warning
  - if !@competition.hidden?
    %span.glyphicon.glyphicon-warning-sign
    %b Public
    All changes are visible to everyone.
  - else
    %span.glyphicon.glyphicon-lock
    Private

= bootstrap_form_for @competition, url: league_path(@competition) do |f|
  = render 'league_form', f: f

  = f.submit 'Update'
  = link_to 'Cancel', league_path(@competition), class: 'btn btn-default'

%hr

- if user_can_edit_leagues?
  .panel.panel-danger
    .panel-heading Danger Zone
    .panel-body
      - if @competition.hidden?
        = button_to league_path(@competition), method: :delete, class: 'btn btn-danger',
                    data: { confirm: 'Are you sure you want to delete this League?' } do
          %span.glyphicon.glyphicon-trash
          Delete

      - if @competition.hidden?
        = button_to 'Make Public', league_visibility_path(@competition, private: false),
                    method: :patch, class: 'btn btn-warning'
      - else
        = button_to 'Make Private', league_visibility_path(@competition, private: true),
                    method: :patch, class: 'btn btn-danger'
