- content_for(:title) { 'Leagues' }

%h1.tab-header Leagues

.col-sm-3.col-md-3.searchbox.pull-right
  = render 'search'

%hr

- if user_can_edit_leagues?
  = link_to new_league_path, class: 'btn btn-default pull-right' do
    %span.glyphicon.glyphicon-plus
    Create New League

- unless @games.empty?
  %ul.nav.nav-tabs
    - @games.each_with_index do |game, index|
      - klass = index.zero? ? 'active' : ''
      %li{ class: klass }
        %a{ data: { toggle: 'tab' }, href: "##{game.name.parameterize}" }
          = game.name

.tab-content
  - @games.each_with_index do |game, index|
    - klass = 'tab-pane fade'
    - if index.zero?
      - klass += ' in active'

    - leagues = @leagues[game]
    %div{ id: game.name.parameterize, class: klass }
      - if leagues.empty?
        .panel-body No leagues found...
      - else
        = render 'league_list', leagues: leagues, game: game
