%h1 Leagues

.row
  .col-sm-3.col-md-3.pull-right
    = render 'search'

- unless games.empty?
  %ul.nav.nav-tabs
    - games.each_with_index do |game, index|
      - klass = ''
      - if index == 0
        - klass = 'active'
      %li{ class: klass }
        %a{ data: { toggle: 'tab' }, href: "##{game.name.parameterize}" }
          = game.name

.tab-content
  - games.each_with_index do |game, index|
    - klass = 'tab-pane fade'
    - if index == 0
      - klass += ' in active'

    - leagues = @leagues.joins(:format).where(formats: { game_id: game.id })
    %div{ id: game.name.parameterize, class: klass }
      - if leagues.empty?
        .panel-body No leagues found...
      - else
        %ul.list-group
          - leagues.each do |league|
            - if league.hidden?
              - next unless user_can_edit_leagues?
              - klass = 'list-group-item-warning'
            - elsif league.running?
              - klass = 'list-group-item-info'
            - else
              - klass = 'list-group-item-success'

            = link_to league_path(league), class: 'list-group-item ' + klass do
              .thumbnail.pull-right
                Teams: #{league.rosters.size}

              %h4.list-group-item-heading
                = league.name

  = will_paginate @leagues, renderer: BootstrapPagination::Rails
