- if @competition.private?
  .alert.alert-warning
    %span.glyphicon.glyphicon-lock
    Private

- if user_can_edit_league?
  = link_to edit_league_path(@competition), class: 'btn btn-default pull-right', type: 'button' do
    Manage
    %span.glyphicon.glyphicon-cog

%h1= @competition.name

.panel.panel-default
  .panel-heading Info
  .panel-body= markdown @competition.description

.panel.panel-default
  .panel-heading Divisions
  %ul.list-group
    - @competition.divisions.each do |div|
      %li.list-group-item
        %h3= div.name
        = markdown div.description

- if user_can_edit_league?
  = link_to 'Signups', league_rosters_path(@competition), class: 'btn btn-default pull-right'

- if user_signed_in? && current_user.can_any?(:edit, :team) && @competition.signuppable?
  = link_to 'Sign up', new_league_roster_path(@competition), class: 'btn btn-success pull-right',
                       disabled: current_user.entered?(@competition)
