- content_for(:title) { @league.name }

- if @league.hidden?
  .alert.alert-warning
    %span.glyphicon.glyphicon-lock
    Private

- if user_can_edit_league?
  = link_to edit_league_path(@league), class: 'btn btn-default pull-right', type: 'button' do
    Manage
    %span.glyphicon.glyphicon-cog

%h1= @league.name

.panel.panel-default
  .panel-heading Info
  .panel-body.markdown= present(@league).description

.panel.panel-info
  = link_to 'All Matches', league_matches_path(@league),
            class: 'btn btn-default pull-right'

  .panel-heading
    - if @personal_matches
      Your Upcoming Matches
    - else
      Upcoming Matches for #{@divisions.first}

  - matches = @personal_matches || @top_div_matches
  = render 'leagues/matches/matches_table', matches: matches, roster: nil

.panel.panel-default
  .panel-heading Teams
  - if user_signed_in?
    - if current_user.can?(:edit, :team) && @league.signuppable?
      .panel-body
        = link_to 'Sign up', new_league_roster_path(@league),
                             class: 'btn btn-success pull-right'

    - elsif @roster
      .panel-body
        = present(@roster).link 'View My Team', class: 'btn btn-default pull-right'

  - if @league.signuppable?
    %ul.list-group
      - present_collection(@rosters).each do |roster|
        %li.list-group-item
          = roster.link

  - else
    .panel-body.table-responsive
      - @ordered_rosters.each do |div, rosters|
        %h3= div.name
        %table.table
          %tr
            %th #
            %th Team
            %th Points
            - present_collection(@league.tiebreakers).each do |tiebreaker|
              %th= tiebreaker.name_with_tooltip

          - rosters.each_with_index do |roster, rank|
            %tr
              %th{ scope: 'row' }= rank + 1
              %td= present(roster).link
              %td= roster.points
              - @league.tiebreakers.each do |tiebreaker|
                %th= tiebreaker.value_for(roster)

- if user_can_edit_league?
  .panel.panel-info
    .panel-heading Admin
    .panel-body
      - klass = 'btn btn-default pull-right'

      = link_to 'Transfers', league_transfers_path(@league), class: klass
      = link_to 'Signups', league_rosters_path(@league), class: klass
      = link_to 'Matches', league_matches_path(@league), class: klass
