- if @league.hidden?
  .alert.alert-warning
    %span.glyphicon.glyphicon-lock
    Private

- if user_can_edit_league?
  = link_to edit_league_path(@league), class: 'btn btn-default pull-right', type: 'button' do
    Manage
    %span.glyphicon.glyphicon-cog

%h1= @league.name

.panel.panel-default
  .panel-heading Info
  .panel-body= markdown @league.description

.panel.panel-default
  .panel-heading
    - if @personal_matches
      Your Upcoming Matches
    - else
      Upcoming Matches for #{@divisions.first}

    = link_to 'All Matches', league_matches_path(@league),
              class: 'btn btn-default pull-right'

  %ul.list-group
    - present_collection(@personal_matches || @top_div_matches).each do |match|
      %li.list-group-item
        = match.link
        .pull-right= match.results

.panel.panel-default
  .panel-heading Teams
  %ul.list-group
    - if @league.signuppable?
      - present_collection(@rosters).each do |roster|
        %li.list-group-item
          = roster.link

    - else
      - @divisions.each do |div|
        %li.list-group-item
          %h3= div.name
          %ul.list-group
            - present_collection(div.rosters_sorted).each_with_index do |roster, rank|
              %li.list-group-item
                = "##{rank + 1}:" if @league.completed?
                = roster.link
                .pull-right
                  = roster.score_s

  - if user_signed_in?
    - if current_user.can_any?(:edit, :team) && @league.signuppable?
      .panel-body
        = link_to 'Sign up', new_league_roster_path(@league),
                             class: 'btn btn-success pull-right'

    - elsif @roster
      .panel-body
        = present(@roster).link 'View My Team', class: 'btn btn-default pull-right'

- if user_can_edit_league?
  .panel.panel-default
    .panel-heading Admin
    .panel-body
      - klass = 'btn btn-default pull-right'

      = link_to 'Transfers', league_transfers_path(@league), class: klass
      = link_to 'Signups', league_rosters_path(@league), class: klass
      = link_to 'Matches', league_matches_path(@league), class: klass
