.panel.panel-default
  .panel-heading Information
  .panel-body
    = bootstrap_form_for @game, url: meta_game_path(@game) do |f|
      = render 'game_form', f: f

      = f.submit 'Update'
      = link_to 'Cancel', meta_game_path(@game), class: 'btn btn-default'

.panel.panel-danger
  .panel-heading Danger Zone!
  .panel-body
    = button_to meta_game_path(@game), method: :delete, class: 'btn btn-danger',
                data: { confirm: 'Are you sure you want to delete this Game?' } do
      %span.glyphicon.glyphicon-trash
      Delete
