= form_for @game, url: {controller: 'meta/games', action: 'create'} do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  = f.submit 'Create', class: 'btn btn-default'
  = link_to 'Cancel', :back, class: 'btn btn-default'
