- content_for(:title) { "Logs: #{@user.name}" }

- user_p = present(@user)

%h1 Alternate Accounts for #{user_p.link}
%h3 #{link_to 'Logs', user_logs_path(@user)} by IP

- if @alt_logs.empty?
  %p No alternate accounts found...

- else
  %table.table.table-striped
    %thead
      %tr
        %th Account
        %th Matching IP
        %th Signed up
        %th Alt First Seen
        %th Alt Last Seen
        %th User First Seen
        %th User Last Seen
    %tbody
      - @alt_logs.each do |alt_log|
        :ruby
          alt_log_p = present(alt_log)
          user_log = @logs_map[alt_log.ip]
          user_log_p = present(user_log)

        %tr
          %td= alt_log_p.user.link
          %td= alt_log.ip
          %td= alt_log_p.user.created_at
          %td= alt_log_p.first_seen_at
          %td= alt_log_p.last_seen_at
          %td= user_log_p.first_seen_at
          %td= user_log_p.last_seen_at
