- content_for(:title) { "Logs: #{@user.name}" }

- user_p = present(@user)

%h1 Logs for #{user_p.link}

.card.card-info.mb-3
  .card-header Tools
  .card-body
    = link_to alts_user_logs_path(@user), class: 'btn btn-secondary' do
      Alternate Accounts
      = inline_svg_tag 'open_iconic/people.svg', class: 'icon ml-1'

%table.table.table-striped
  %thead
    %tr
      %th IP Address
      %th First Seen
      %th Last Seen
  %tbody
    - @logs.each do |log|
      - log_p = present(log)
      %tr
        %td= log.ip
        %td= log_p.first_seen_at
        %td= log_p.last_seen_at
