= bootstrap_form_for @format, as: :format_,
                     url: { controller: 'meta/formats', action: 'create' } do |f|

  = f.select :game_id, game_select
  = f.select :player_count, 1..16
  = f.text_field :name
  = f.text_area :description, rows: 10

  = f.submit 'Create'
  = link_to 'Cancel', :back, class: 'btn btn-default'
