- content_for(:title) { 'Admin' }

%h2 For all your admin needs

- if current_user.can?(:edit, :users)
  .card.mt-3
    .card-header Community
    %ul.list-group.list-group-flush
      %li.list-group-item= link_to 'Name Changes', users_names_path

.card.mt-3
  .card-header Admin
  %ul.list-group.list-group-flush
    %li.list-group-item= link_to 'Permissions', permissions_path
    %li.list-group-item= link_to 'Statistics', admin_statistics_path


- if current_user.can?(:edit, :games)
  .card.mt-3
    .card-header Meta Data
    %ul.list-group.list-group-flush
      = link_to 'Games', meta_games_path, class: 'list-group-item'
      = link_to 'Formats', meta_formats_path, class: 'list-group-item'
      = link_to 'Maps', meta_maps_path, class: 'list-group-item'
