%h2 For all your admin needs

- if current_user.can?(:edit, :competitions)
  .panel.panel-default
    .panel-heading Leagues
    .panel-body
      = link_to new_league_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-plus
        Create New League
    %ul.list-group
      - competitions.each do |competition|
        = link_to competition.name, league_path(competition), class: 'list-group-item'

- if current_user.can?(:edit, :games)
  .panel.panel-default
    .panel-heading Meta
    .panel-body
      %ul.list-group
        = link_to 'Games', meta_games_path, class: 'list-group-item'
        = link_to 'Formats', meta_formats_path, class: 'list-group-item'
        = link_to 'Maps', meta_maps_path, class: 'list-group-item'

- if current_user.can?(:edit, :users)
  .panel.panel-default
    .panel-heading
    .panel-body
      = link_to 'Name Changes', users_names_path

.panel.panel-default
  .panel-heading Permissions
  .panel-body
    = link_to 'Permissions', permissions_path
