- content_for(:title) { 'Logs | Admin' }

%h2 Statistics

.panel.panel-default
  .panel-heading Statistics
  .panel-body
    - times = [5.minutes, 10.minutes, 30.minutes, 2.hours]
    - times.each do |timeframe|
      - cls = timeframe == @timeframe ? 'active' : ''
      = link_to timeframe.inspect, admin_statistics_path(t: timeframe),
                class: "#{cls} btn btn-default"

  %table.table
    %tbody
      %tr
        %td Requests per Second
        %td= @events_per_second.round(4)
      %tr
        %td Number of Users
        %td= @users_count
      %tr
        %td Number of API Keys
        %td= @api_keys_count
      %tr
        %td Number of Teams
        %td= @teams_count
      %tr
        %td Number of Matches
        %td= @matches_count
      %tr
        %td Number of Match Comms
        %td= @match_comms_count
      %tr
        %td Number of Edits on Match Comms
        %td= @match_comm_edits_count
