= f.text_field :name

%label Topic Options
= f.check_box :locked, label: 'Lock this Topic'
= f.check_box :pinned, label: 'Pin this Topic'
= f.check_box :hidden, label: 'Hide this Topic'

%label Thread Options
= f.check_box :default_locked, label: 'Default new threads to Locked'
= f.check_box :default_hidden, label: 'Default new threads to Hidden'
