= f.text_field :name

.form-group
  %label
    Status

  .row
    .px-3.py-1= f.check_box :locked, label: 'Locked'
    .border-right.d-none.d-md-block
    .px-3.py-1= f.check_box :pinned, label: 'Pinned'
    .border-right.d-none.d-md-block
    .px-3.py-1= f.check_box :hidden, label: 'Hidden'

.form-group
  %label
    Options

  = f.check_box :default_locked, label: 'Default new threads to "Locked"'
  = f.check_box :default_hidden, label: 'Default new threads to "Hidden"'
