- content_for(:title) { 'Create Topic | Forums' }

= render 'forums/head', object: @topic.parent, subheading: 'Create topic'

.card.bg-light.mb-3
  .card-body
    = bootstrap_form_for @topic, url: forums_topics_path(parent: @topic.parent) do |f|
      = render 'form', f: f

      .d-flex.justify-content-end
        = link_to 'Cancel', :back, class: 'btn btn-link mr-2'
        = f.primary 'Create'
