:ruby
  user = present(user)
  show_steam_icon ||= false
  show_steam_id ||= false
  avatar_size ||= 32

.row.no-gutters.flex-nowrap.align-items-start.align-items-sm-center
  .col-auto
    = user.avatar_tag(size: avatar_size, class: 'rounded')

  .col
    .d-flex.flex-column.flex-sm-row
      %span.p-0.my-1.ml-3
        %b.mr-2
          = user.link

        %span
          = user.titles team: local_assigns[:team]

      .p-0.steam-link.ml-auto
        - if show_steam_icon
          = user.steam_icon_link

        - if show_steam_id
          = user.steam_id_link
