
- unless user.description.empty?
  .markdown= user_p.description

  %hr

- unless matches.empty?
  %h5 Upcoming Matches
  %ul.list-group.list-group-flush
    - present_collection(matches).each do |match|
      %li.list-group-item
        = match.link

- unless teams.empty?
  %h5 Teams
  %ul.list-group.list-group-flush
    - teams.each do |team|
      %li.list-group-item
        - if current_user?
          .button-group.pull-right
            = button_to leave_team_path(team), method: :patch, class: 'btn btn-danger' do
              Leave
              = inline_svg_tag 'open_iconic/x.svg', class: 'icon ml-2'
        = render 'teams/listing', team: team

- unless team_transfers.empty?
  %h5 Transfers

  %ul.list-group.list-group-flush
    - present_collection(team_transfers).each do |transfer_p|
      %li.list-group-item= transfer_p.listing_with_implied_user
