- user = f.object

- if user_can_edit_users?
  = f.text_field :badge_name
  = f.select :badge_color, UserPresenter::BADGE_COLORS.each_with_index.to_a

= f.text_field :email, label: user_p.confirmation_label

.clearfix
  = image_tag user.avatar.icon.url, class: 'pull-left thumbnail' if user.avatar?

  = f.file_field :avatar, accept: 'image/png,image/jpeg'
  = f.hidden_field :avatar_cache
  - if user.avatar.file
    = f.check_box :remove_avatar

= f.markdown_editor :description, rows: 10

