- content_for(:title) { "Edit: #{@user.name}" }

- user_p = present(@user)

.panel-body
  = bootstrap_form_for @name_change, url: name_user_path(@user),
                       method: :post, as: :name_change do |f|
    = f.text_field :name

    = f.submit 'Request Name Change'

.panel-body
  = bootstrap_form_for @user, method: :patch do |f|
    = f.text_field :email, label: user_p.confirmation_label

    = render 'user_form', f: f

    = f.submit 'Save'
    = link_to 'Cancel', user_path(@user), class: 'btn btn-default'
