- content_for(:title) { "Edit: #{@user.name}" }

- user_p = present(@user)

%h1 Setting for #{user_p.link}

%hr

.panel.panel-default
  .panel-heading Name
  .panel-body
    = bootstrap_form_for @name_change, url: name_user_path(@user),
                         method: :post, as: :name_change, layout: :horizontal do |f|
      .col-xs-8.pull-left= f.text_field :name, hide_label: true

      .col-xs-4
        .pull-right= f.submit 'Request Name Change'

.panel.panel-default
  .panel-heading Information
  .panel-body
    = bootstrap_form_for @user, method: :patch do |f|
      = render 'user_form', f: f, user_p: user_p

      = f.submit 'Save'
      = link_to 'Cancel', user_path(@user), class: 'btn btn-default'
