- content_for(:title) { "Edit: #{@user.name}" }

- user_p = present(@user)

%h1 Settings for #{user_p.link}

%hr

.card.mb-3
  .card-header Change Name
  .card-body
    = bootstrap_form_for @name_change, url: name_user_path(@user),
                         method: :post, as: :name_change do |f|
      = f.text_field :name, hide_label: true

      = f.primary 'Request Name Change'

.card.mb-3
  .card-header General
  .card-body
    = bootstrap_form_for @user, method: :patch do |f|
      = render 'form', f: f, user: @user, user_p: user_p

      .d-flex.justify-content-end
        = link_to 'Cancel', user_path(@user), class: 'btn btn-link mr-2'
        = f.primary 'Save'

- if user_can_edit_users?
  .card.border-danger.mb-3
    .card-header.text-white.bg-danger Admin Only
    .card-body
      = bootstrap_form_for @user, method: :patch do |f|
        = render 'admin_form', f: f, user: @user, user_p: user_p

        .d-flex.justify-content-end
          = link_to 'Manage Bans', user_bans_path(@user), class: 'btn btn-warning mr-2'
          = link_to 'Logs', user_logs_path(@user), class: 'btn btn-warning mr-2'
          = link_to 'Cancel', user_path(@user), class: 'btn btn-link mr-2'
          = f.primary 'Save'

    .card-body
      %h5 Send Notification
      - notification = @user.notifications.new
      = bootstrap_form_for notification, url: user_notifications_path(user_id: @user.id), as: :notification, method: :post do |f|
        = render 'users/notifications/form', f: f

        .d-flex.justify-content-end
          = link_to 'Cancel', user_path(@user), class: 'btn btn-link mr-2'
          = f.primary 'Send Notification'

