- content_for(:title) { 'Register' }

- user_p = present(@user)

%h1 Register with [#{@user.steam_id3}]

= bootstrap_form_for @user, method: :new do |f|
  = f.text_field :name
  = render 'form', f: f, user: @user, user_p: user_p

  .d-flex.justify-content-end
    = link_to 'Cancel', :back, class: 'btn btn-link mr-2'
    = f.submit 'Register'
