= form_for @user do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'


  = f.submit 'Register', class: 'btn btn-default'
  = link_to 'Cancel', :pages_home, class: 'btn btn-default'
