- content_for(:title) { 'Register' }

%h1 Register with [#{@user.steam_id_nice}]

= bootstrap_form_for @user, method: :new do |f|
  = f.text_field :name
  = render 'user_form', f: f

  = f.submit 'Register'
  = link_to 'Cancel', :back, class: 'btn btn-default'
