- content_for(:title) { @user.name }

- user_p = present(@user)

- if user_can_edit_user?
  = link_to edit_user_path(@user), class: 'btn btn-secondary pull-right', type: 'button' do
    Settings
    = inline_svg_tag 'open_iconic/cog.svg', class: 'icon ml-1', size: '16'

.d-flex.align-items-start.flex-wrap.mb-4
  = image_tag @user.avatar.icon.url, class: 'group-avatar mr-3', width: '100', height: '100'

  .d-flex.flex-column.ml-3
    .row.align-items-center
      %h2.spaced-letters.mr-2
        = @user.name
      = user_p.badge

    - unless @aka.empty?
      .row
        .text-secondary aka #{@aka.map(&:name).join(', ')}

    .row.align-items-center.steam-link
      = user_p.steam_link
      %span.ml-2= @user.steam_32
      %span.ml-2= @user.steam_id


.row
  != present_collection(@titles).map(&:icon).join(' ')

  .pull-right= render 'users/bans/list', user: @user

- if current_user? && !@team_invites.empty?
  - @team_invites.each do |invite|
    - team = invite.team
    .alert.alert-info
      You have been invited to join #{present(team).link}

      .button-group.pull-right
        = button_to decline_team_invite_path(team),
                    method: :delete, class: 'btn btn-danger' do
          Decline
          %span.glyphicon.glyphicon-remove
      .button-group.pull-right
        = button_to accept_team_invite_path(team),
                    method: :post, class: 'btn btn-success' do
          Accept
          %span.glyphicon.glyphicon-ok

- if user_p.notice != '' && (user_can_edit_users? || (current_user? && current_user == @user))
  .card.mb-3
    .card-header.bg-warning Notice
    .card-body.markdown= user_p.notice

.nav.nav-tabs#tabs{ role: 'tablist' }
  %a.nav-item.nav-link.active#info-tab{ href: '#info', role: 'tab', data: { toggle: 'tab' },
                                        aria: { controls: 'info', selected: 'true' } }
    Info
  - unless @roster_transfers.empty?
    %a.nav-item.nav-link#leagues-tab{ href: '#leagues', role: 'tab', data: { toggle: 'tab' },
                                      aria: { controls: 'leagues', selected: 'false' } }
      Leagues
  %a.nav-item.nav-link#forums-tab{ href: '#forums', role: 'tab', data: { toggle: 'tab' },
                                   aria: { controls: 'forums', selected: 'false' } }
    Forums

.tab-content.mt-3#tab-content
  .tab-pane.show.active#info{ role: 'tabpanel', aria: { kabekkedby: 'info-tab' } }
    = render 'users/show_info', user: @user, user_p: user_p, matches: @matches,
                                teams: @teams, team_transfers: @team_transfers
  - unless @roster_transfers.empty?
    .tab-pane#leagues{ role: 'tabpanel', aria: { kabekkedby: 'leagues-tab' } }
      = render 'users/show_leagues', user: @user, roster_transfers: @roster_transfers
  .tab-pane#forums{ role: 'tabpanel', aria: { kabekkedby: 'forums-tab' } }
    = render 'users/show_forums', user: @user, forums_posts: @forums_posts

%hr

- if user_can_edit_users?
  .card
    .card-header Admin Comments

    - @comments.each do |comment|
      - options = { user: @user, comment: comment, quote_id: 'wmd-input-user-comment' }

      - if comment.exists?
        = render 'users/comments/comment', options
      - else
        = render 'users/comments/deleted_comment', options

    .container-fluid
      %hr
      = bootstrap_form_for @comment, as: :comment, url: user_comments_path(@user) do |f|
        = render 'users/comments/form', f: f

        .row
          = f.submit 'Post', class: 'btn btn-secondary pull-right'
      %hr
