- if user_can_edit_user?
  = link_to edit_user_path(@user), class: 'btn btn-default pull-right', type: 'button' do
    Settings
    %span.glyphicon.glyphicon-cog

.clearfix
  = image_tag @user.avatar.icon.url, class: 'pull-left thumbnail' if @user.avatar?

  %h2 #{@user.name}'s Profile

  %p
    [#{link_to @user.steam_id_nice, @user.steam_profile_url, target: '_blank'}]

    - unless @user.aka.empty?
      %i aka #{@user.aka.limit(5).map(&:name).join(', ')}

.panel.panel-default
  .panel-heading Description
  .panel-body= markdown @user.description

.panel.panel-default
  .panel-heading Teams
  %ul.list-group
    - @user.teams.each do |team|
      %li.list-group-item
        = link_to team.name, team_path(team)
        - if current_user?
          .button-group.pull-right
            = button_to leave_team_path(team), method: :patch, class: 'btn btn-danger' do
              Leave
              %span.glyphicon.glyphicon-remove

.panel.panel-default
  .panel-heading Transfers
  %ul.list-group
    - @user.transfers.each do |transfer|
      %li.list-group-item
        - if transfer.is_joining?
          joined
        - else
          left
        = link_to transfer.team, team_path(transfer.team)
        on #{transfer.created_at.strftime('%c')}

- if current_user?
  .panel.panel-default
    .panel-heading Upcoming Matches
    %ul.list-group
      - @user.rosters.each do |roster|
        - roster.upcoming_matches.each do |match|
          %li.list-group-item
            = link_to league_match_path(roster.competition, match) do
              = match.home_team
              vs
              = match.away_team

.panel.panel-default
  .panel-heading Leagues
  %ul.list-group
    - present_collection(@user.rosters).each do |roster|
      - if roster.competition.public?
        %li.list-group-item
          - league_link = link_to roster.competition, league_path(roster.competition)
          - if roster.competition.signuppable?
            signed up to #{league_link} with #{roster.link}
          - else
            playing in #{league_link} with #{roster.link}

- if current_user? && !@user.team_invites.empty?
  .panel.panel-default
    .panel-heading Team Invites
    .panel-body
      %ul.list-group
        - @user.team_invites.each do |invite|
          %li.list-group-item
            = invite.team
            .button-group.pull-right
              = button_to decline_team_invite_path(invite),
                          method: :patch, class: 'btn btn-danger' do
                Decline
                %span.glyphicon.glyphicon-remove
            .button-group.pull-right
              = button_to accept_team_invite_path(invite),
                          method: :patch, class: 'btn btn-success' do
                Accept
                %span.glyphicon.glyphicon-ok
