- content_for(:title) { @user.name }

- user_p = present(@user)

- if user_can_edit_user?
  = link_to edit_user_path(@user), class: 'btn btn-default pull-right', type: 'button' do
    Settings
    %span.glyphicon.glyphicon-cog

.row
  .pull-left
    = image_tag @user.avatar.icon.url, class: 'group-avatar'

  .group-title
    %h2.spaced-letters
      = @user.name
      = user_p.badge

    - unless @aka.empty?
      %p.group-aka aka #{@aka.map(&:name).join(', ')}

%p.steam-link-large
  = user_p.steam_link
  %span.dropdown
    - data = { toggle: :collapse, target: '#steam-id-collapse' }
    %button.btn.btn-link.btn-xs{ type: :button, data: data }
      %span.caret

.pull-right.collapse#steam-id-collapse
  .card.small
    .steam-id-large= @user.steam_32
    %br
    .steam-id-large= @user.steam_id

.row
  != present_collection(@titles).map(&:icon).join(' ')

  .pull-right= render 'bans', user: @user

%hr

- if current_user? && !@team_invites.empty?
  - @team_invites.each do |invite|
    - team = invite.team
    .alert.alert-info
      You have been invited to join
      = link_to team, team_path(team)

      .button-group.pull-right
        = button_to decline_team_invite_path(team),
                    method: :delete, class: 'btn btn-danger' do
          Decline
          %span.glyphicon.glyphicon-remove
      .button-group.pull-right
        = button_to accept_team_invite_path(team),
                    method: :post, class: 'btn btn-success' do
          Accept
          %span.glyphicon.glyphicon-ok

.panel.panel-default
  .panel-heading Description
  .panel-body.markdown= user_p.description

- unless @matches.empty?
  .panel.panel-info
    .panel-heading Upcoming Matches
    %ul.list-group
      - present_collection(@matches).each do |match|
        %li.list-group-item
          = match.link

.panel.panel-default
  .panel-heading Teams
  %ul.list-group
    - @teams.each do |team|
      %li.list-group-item
        = link_to team.name, team_path(team)
        - if current_user?
          .button-group.pull-right
            = button_to leave_team_path(team), method: :patch, class: 'btn btn-danger' do
              Leave
              %span.glyphicon.glyphicon-remove

.panel.panel-default
  .panel-heading Transfers
  %ul.list-group
    - @team_transfers.each do |transfer|
      %li.list-group-item
        - if transfer.is_joining?
          joined
        - else
          left
        = link_to transfer.team, team_path(transfer.team)
        on #{transfer.created_at.strftime('%c')}

- unless @rosters.empty?
  .panel.panel-default
    .panel-heading Leagues
    %ul.list-group
      - present_collection(@rosters).each do |roster|
        - unless roster.league.hidden?
          %li.list-group-item= roster.user_listing
