- if user_can_edit_user?
  =link_to edit_user_path(@user), class: 'btn btn-default pull-right', type: 'button' do
    Settings
    %span.glyphicon.glyphicon-cog

%h2= "#{@user.name}'s Profile"

%h3= link_to('Steam Profile', @user.steam_profile_url)

.panel.panel-default
  .panel-heading Description
  .panel-body= markdown @user.description

- if current_user?
  .panel.panel-default
    .panel-heading Team Invites
    .panel-body
      %ul.list-group
        - @user.team_invites.each do |invite|
          %li.list-group-item
            = invite.team.name
            .button-group.pull-right
              = button_to decline_team_invite_path(invite), method: :patch, class: 'btn btn-danger' do
                Decline
                %span.glyphicon.glyphicon-remove
            .button-group.pull-right
              = button_to accept_team_invite_path(invite), method: :patch, class: 'btn btn-success' do
                Accept
                %span.glyphicon.glyphicon-ok
