%h1= "#{@competition.name}: Division"

.panel.panel-default
  .panel-heading Info
  .panel-body
    = form_for @div, url: league_division_path(@competition, @div), method: :patch do |f|
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :description
        = f.text_area :description, rows: 10, class: 'form-control'

      = f.submit 'Update', class: 'btn btn-default'
      = link_to 'Cancel', edit_league_path(@competition), class: 'btn btn-default'

.panel.panel-danger
  .panel-heading Danger Zone
  .panel-body
    = button_to 'Delete', league_division_path(@competition, @div), method: :delete, class: 'btn btn-danger'

- if @div.errors.any?
  %ul
    - @div.errors.full_messages.each do |msg|
      %li= msg
