- content_for(:title) { "Transfers | #{@league.name}" }

%h1
  = link_to @league.name, league_path(@league)
  Transfers


- @divisions.each do |division|
  .card.mb-3
    .card-header= division.name

    - pending_transfer_requests = @pending_transfer_requests[division]
    - if pending_transfer_requests.empty?
      .card-body.text-muted No pending transfers
    - else
      %ul.list-group.list-group-flush
        - pending_transfer_requests.each do |request|
          %li.list-group-item
            .d-flex.flex-wrap.align-items-center
              .m-2
                = present(request).listing

              .btn-toolbar.guttered.ml-auto
                = button_to 'Approve', league_transfer_path(@league, request), method: :patch,
                            class: 'btn btn-success'
                = button_to 'Deny', league_transfer_path(@league, request), method: :delete,
                            class: 'btn btn-danger'


    - old_transfer_requests = @old_transfer_requests[division]
    - unless old_transfer_requests.empty?
      - id = dom_id(division)
      %a.text-dark{ data: { toggle: 'collapse' }, href: "##{id}" }
        .card-header.border-top
          = inline_svg_tag 'open_iconic/timer.svg', class: 'icon'
          Transfer History

      .collapse{ id: id }
        %ul.list-group.list-group-flush
          - old_transfer_requests.each do |request|
            %li.list-group-item
              = present(request).listing
