- content_for(:title) { "Transfers | #{@league.name}" }

%h1
  = link_to @league.name, league_path(@league)
  Transfers

- @divisions.each do |division|
  .panel.panel-default
    .panel-heading= division.name
    - transfer_requests = division.transfer_requests
    - if transfer_requests.empty?
      .panel-body No pending transfers...

    %ul.list-group
      - transfer_requests.each do |request|
        %li.list-group-item
          = button_to 'Approve', league_transfer_path(@league, request), method: :patch,
                      class: 'pull-right btn btn-success'
          = button_to 'Deny', league_transfer_path(@league, request), method: :delete,
                      class: 'pull-right btn btn-danger'

          = present(request).listing
