- content_for(:title) { "Transfers | #{@league.name}" }

%h1
  = link_to @league.name, league_path(@league)
  Transfers

- @divisions.each do |division|
  .panel.panel-default
    .panel-heading= division.name
    - pending_transfer_requests = @pending_transfer_requests[division]
    - if pending_transfer_requests.empty?
      .panel-body No pending transfers...

    %ul.list-group
      - pending_transfer_requests.each do |request|
        %li.list-group-item
          = button_to 'Approve', league_transfer_path(@league, request), method: :patch,
                      class: 'pull-right btn btn-success'
          = button_to 'Deny', league_transfer_path(@league, request), method: :delete,
                      class: 'pull-right btn btn-danger'

          = present(request).listing

    - old_transfer_requests = @old_transfer_requests[division]
    - unless old_transfer_requests.empty?
      - id = dom_id(division)
      .panel-heading
        %a{ data: { toggle: 'collapse' }, href: "##{id}" }
          Transfer History
          %span.pull-right.glyphicon.glyphicon-chevron-down

      .panel-collapse.collapse{ id: id }
        %ul.list-group
          - old_transfer_requests.each do |request|
            %li.list-group-item
              = present(request).listing
