.card.mb-3
  .card-header Information
  .card-body
    = bootstrap_form_for @map, url: meta_map_path(@map) do |f|
      = render 'map_form', f: f

      = link_to 'Cancel', meta_map_path(@map), class: 'btn btn-secondary'
      = f.primary 'Update'

.alert.alert-danger.mb-3
  %label.font-weight-bold.alert-heading Danger Zone!
  .btn-toolbar.guttered
    = button_to meta_map_path(@map), method: :delete, class: 'btn btn-danger',
                data: { confirm: 'Are you sure you want to delete this Map?' } do
      = inline_svg_tag 'open_iconic/trash.svg', class: 'icon mr-2'
      Delete
