= link_to new_meta_map_path, class: 'btn btn-secondary pull-right', type: 'button' do
  Add Map
  = inline_svg_tag 'open_iconic/plus.svg', class: 'icon ml-1'

%h1 Maps

%ul.list-group.mb-3
  - @maps.each do |map|
    - map_p = present(map)
    %li.list-group-item
      = map_p.link

      = link_to edit_meta_map_path(map), class: 'btn btn-secondary btn-sm pull-right' do
        Edit
        = inline_svg_tag 'open_iconic/pencil.svg', class: 'icon ml-1'
