- content_for(:title) { 'Permissions' }

%h1
  Manage permission to #{@action}
  - if @target.is_a?(Symbol)
    = @target
  - else
    = present(@target)

= render 'search'

- if @users_with_permission.empty? && @users_without_permission.empty?
  %p.mt-2
    No users found...

- else
  - url_params = { action_: @action, subject: @subject, target: @target }
  %table.table.mt-2
    - @users_with_permission.each do |user|
      %tr
        %td= render 'users/listing', user: user
        %td
          - url_params = url_params.merge(user_id: user.id)
          = button_to revoke_permissions_path(url_params), method: :delete,
                                                           class: 'btn btn-danger' do
            Revoke

  %hr

  %table.table.mt-2
    - @users_without_permission.each do |user|
      %tr
        %td= render 'users/listing', user: user
        %td
          - url_params = url_params.merge(user_id: user.id)
          = button_to grant_permissions_path(url_params), method: :post,
                                                          class: 'btn btn-success' do
            Grant

= bootstrap_paginate @users_without_permission, list_classes: ['pagination justify-content-center mt-4']
