- content_for(:title) { "Edit: #{@roster.name} | #{@league.name}" }

%h1= present(@league).link

%h4
  - if @league.signuppable?
    Edit sign up for
  - else
    Edit
  = link_to @roster.name, team_path(@roster.team)

- unless @roster.approved?
  .alert.alert-warning
    - if user_can_edit_league?
      = link_to 'Approve', review_roster_path(@roster),
                           class: 'btn btn-success pull-right'
      = button_to 'Decline', roster_path(@roster),
          method: :delete, class: 'btn btn-danger pull-right',
          data: { confirm: "Are you sure you want to decline this team's sign up?" }

    %span.glyphicon.glyphicon-warning-sign
    Roster is awaiting approval

.panel.panel-default
  .panel-heading Info
  .panel-body
    = bootstrap_form_for @roster, as: :roster,
        url: roster_path(@roster) do |f|

      - if user_can_edit_league?
        = f.text_field :name
        = f.select :division_id, divisions_select, label: 'Division'
        = f.number_field :seeding
        = f.number_field :ranking
        = f.markdown_editor :notice, rows: 3, label: 'Notice (Public)'

      = render 'form', f: f

      = f.submit 'Update'
      = link_to 'Cancel', team_path(@roster.team), class: 'btn btn-default'

    = link_to users_permissions_path(action_: :edit, subject: :team, target: @roster.team.id),
              class: 'pull-right btn btn-default' do
      Manage Permissions
      %span.glyphicon.glyphicon-cog

= render 'leagues/rosters/transfers/index',
         league: @league, roster: @roster, transfer_request: @transfer_request,
         users_on_roster: @users_on_roster, users_off_roster: @users_off_roster

- if user_can_disband_roster? || user_can_destroy_roster?
  .panel.panel-danger
    .panel-heading Danger Zone
    .panel-body
      - if @roster.disbanded? && user_can_edit_league?
        = button_to undisband_roster_path(@roster),
                    method: :put, class: 'btn btn-danger',
                    data: { confirm: 'Are you sure you want to Un-disband this Roster?' } do
          Un-disband

      - elsif !@roster.disbanded? && user_can_disband_roster?
        = button_to disband_roster_path(@roster),
                    method: :delete, class: 'btn btn-danger',
                    data: { confirm: 'Are you sure you want to Disband this Roster?' } do
          Disband

      - if user_can_destroy_roster?
        = button_to roster_path(@roster),
                        method: :delete, class: 'btn btn-danger',
                        data: { confirm: 'Are you sure you want to Delete this Roster?' } do
          %span.glyphicon.glyphicon-trash
          Destroy

- if user_can_edit_league?
  .panel.panel-info
    .panel-heading Admin Comments

    - @comments.each do |comment|
      - options = { roster: @roster, comment: comment, quote_id: 'wmd-input-new-league-roster-comment' }

      - if comment.exists?
        = render 'leagues/rosters/comments/comment', options
      - else
        = render 'leagues/rosters/comments/deleted_comment', options

    .container-fluid
      %hr
      = bootstrap_form_for @comment, as: :comment, url: roster_comments_path(@roster) do |f|
        = render 'leagues/rosters/comments/form', f: f

        .row
          = f.submit 'Post', class: 'btn btn-default pull-right'
      %hr
