%h1= @competition.name

%h4
  Edit sign up for #{@roster.team.name}

= bootstrap_form_for @roster,
    url: league_roster_path(@competition, @roster) do |f|
  = f.text_field :name
  = f.text_area :description, label: 'Tell us about your team', rows: 10

  = f.submit 'Update'
  = link_to 'Cancel', league_roster_path(@competition, @roster), class: 'btn btn-default'
