- content_for(:title) { "Signups | #{@league.name}" }

- league_p = present(@league)
%h1
  = league_p.link
  Signups

- @divisions.each do |div|
  .card.mb-3
    .card-header= div.name
    %ul.list-group.list-group-flush
      - rosters = present_collection(div.rosters)

      - if rosters.empty?
        %li.list-group-item No rosters...

      - else
        - rosters.each do |roster|
          - klass = roster.approved? ? 'list-group-item-success' : 'list-group-item-warning'
          %li{ class: "list-group-item #{klass}" }
            = roster.link
