%h1= @league.name

- if @team.nil?
  %h4 Which team do you want to sign up with?

  %ul.list-group
    - current_user.which_can(:edit, :team).each do |team|
      - next if team.entered?(@league)
      = link_to new_league_roster_path(@league, team_id: team.id),
                class: 'list-group-item' do
        = team.name

  = link_to 'Cancel', league_path(@league), class: 'btn btn-default'

- else
  %h4
    Sign up with #{@team.name}

  = bootstrap_form_for @roster, as: :roster,
      url: league_rosters_path(@league, team_id: @team.id) do |f|
    = f.text_field :name
    = f.select :division_id, divisions_select, label: 'Desired Division'
    = f.markdown_editor :description, label: 'Tell us about your team', rows: 10

    - users = present_collection(@team.player_users)
    - listings = users.map { |user| [user.id, user.transfer_listing(@league)] }
    = f.collection_check_boxes :player_ids, listings, :first, :last, label: 'Players'

    = f.submit 'Sign up'
    = link_to 'Cancel', league_path(@league), class: 'btn btn-default'
