- content_for(:title) { "Review: #{@roster.name} | #{@league.name}" }

= bootstrap_form_for @roster, as: :roster,
    url: approve_roster_path(@roster) do |f|
  = f.text_field :name
  = f.select :division_id, divisions_select(@league), label: 'Desired Division'
  = f.number_field :seeding

  .d-flex.justify-content-end
    = link_to 'Cancel', team_path(@roster.team), class: 'btn btn-link mr-2'
    = f.submit 'Approve', class: 'btn btn-success'
