- content_for(:title) { "#{@roster.name} | #{@league.name}" }

- unless @roster.approved?
  .alert.alert-warning
    - if user_can_edit_league?
      = link_to 'Approve', review_roster_path(@roster),
                           class: 'btn btn-success pull-right'
      = button_to 'Decline', roster_path(@roster),
          method: :delete, class: 'btn btn-danger pull-right',
          data: { confirm: "Are you sure you want to decline this team's sign up?" }

    %span.glyphicon.glyphicon-warning-sign
    Roster is awaiting approval

- if user_can_edit_roster?
  = link_to edit_roster_path(@roster), class: 'btn btn-default pull-right' do
    Edit
    %span.glyphicon.glyphicon-cog

%h2
  = present(@roster).title
  - if @roster.disbanded?
    %span.pull-right.label.label-danger Disbanded
%h4
  Team #{link_to @roster.team, team_path(@roster.team)}
  signed up on #{@roster.created_at.strftime('%c')}

%p

.panel.panel-default
  .panel-heading Info
  .panel-body= markdown @roster.description

.panel.panel-default
  .panel-heading
    Roster
  %ul.list-group
    - @roster.users.each do |user|
      %li.list-group-item
        = render 'users/listing', user: user, team: @roster.team

.panel.panel-default
  .panel-heading Transfers
  %ul.list-group
    - @roster.transfers.each do |transfer|
      %li.list-group-item
        = present(transfer.user).link
        - if transfer.is_joining?
          joined the team
        - else
          left the team
        on #{transfer.created_at.strftime('%c')}

.panel.panel-default
  .panel-heading Matches
  = render 'leagues/matches/matches_table', matches: @matches, roster: @roster

- if user_can_edit_league?
  .panel.panel-info
    .panel-heading Admin Comments
    %ul.list-group
      - @roster.comments.each do |comment|
        %li.list-group-item
          .panel.panel-default
            .panel-heading
              = render 'users/listing', user: comment.user
              .pull-right= comment.created_at.strftime('%c')

          = markdown comment.content

    .panel-body
      = render 'comment_form', roster: @roster, comment: @comment
