- post_p = present(post)

%div{ id: "post_#{post.id}" }
- if user_can_edit_post?(post)
  .pull-right
    = link_to post_p.edit_path, class: 'btn btn-link btn-sm' do
      %span.glyphicon.glyphicon-cog
.pull-right
  = post_p.created_at

%h2= link_to post.thread.title, forums_thread_path(post.thread)

- if user_can_edit_post?(post) && post.edits.size > 1
  .pull-right
    = link_to edits_for_forums_post_path(post), class: 'btn btn-secondary btn-sm' do
      View Edits

.well.well-lg
  .container-fluid.markdown= post_p.content
  - comments_count = post.thread.posts_count - 1
  .pull-right= link_to "comments (#{comments_count})", forums_thread_path(post.thread)
