.panel.panel-default
  %div{ id: "post_#{post.id}" }
  .panel-heading
    - if user_can_edit_post?(post)
      .pull-right
        = link_to edit_forums_post_path(post), class: 'btn btn-link btn-sm' do
          %span.glyphicon.glyphicon-cog
    .pull-right
      = post.created_at.strftime('%c')

    = render 'users/listing', user: post.created_by

  - if post.edits.size > 1
    .pull-right
      = link_to edits_for_forums_post_path(post), class: 'btn btn-default btn-sm' do
        View Edits

.container-fluid= markdown post.content
