- post_p = present(post)

.panel.panel-default
  %div{ id: "post_#{post.id}" }
  .panel-heading
    - if user_can_edit_post?(post)
      .pull-right
        = link_to post_p.edit_path, class: 'btn btn-link btn-sm' do
          %span.glyphicon.glyphicon-cog
    .pull-right
      = link_to "#post_#{post.id}" do
        %span.glyphicon.glyphicon-link.small
        = post_p.created_at

    = render 'users/listing', user: post.created_by

  - if user_can_edit_post?(post) && post.edits.size > 1
    .pull-right
      = link_to edits_for_forums_post_path(post), class: 'btn btn-default btn-sm' do
        View Edits

.container-fluid.markdown
  = post_p.content

  %button.pull-right.btn.btn-default.btn-xs{ data: { quote: { id: quote_id, text: post_p.quote } } }
    Quote

