= render 'forums/head', object: @post.thread

.panel.panel-default
  .panel-body
    = bootstrap_form_for @post do |f|
      = render 'form', f: f

      = f.submit 'Update'
      = link_to 'Cancel', :back, class: 'btn btn-default'

- if user_can_manage_thread?(@post.thread)
  .panel.panel-danger
    .panel-heading Danger Zone
    .panel-body
      = button_to forums_post_path(@post), method: :delete, class: 'btn btn-danger',
                  data: { confirm: 'Are you sure you want to delete this Post?' } do
        %span.glyphicon.glyphicon-trash
        Delete
