- content_for(:title) { 'Search Posts | Forums' }

= render 'forums/head', object: nil, subheading: 'Search posts', root_navigable: true

%hr

.d-flex.align-items-center
  - if @user
    .card.mb-3.px-3.py-2
      %b.text-muted
        %span
          Showing posts by

        = present(@user).link

  .ml-auto
    = bootstrap_paginate @posts

- if @posts.size.positive?
  - @posts.each do |post|
    .mb-4
      .mb-2
        Thread: #{present(post.thread).link}

      = render post, quote_id: nil
- else
  = render 'forums/posts/empty'

.d-flex.justify-content-end
  = bootstrap_paginate @posts
