- no_team_fields = false if local_assigns[:no_team_fields].nil?

- unless no_team_fields
  / TODO: Properly handle errors here.
  / Currently there's a discreptency between using :home_team and :home_team_id
  / :home_team displays errors properly, :home_team_id works with the controller
  = f.collection_select :home_team_id, div.active_rosters, :id, :name,
                        include_blank: false, label: 'Home Team'
  = f.errors_on :home_team

  = f.collection_select :away_team_id, div.active_rosters, :id, :name,
                        include_blank: 'BYE', label: 'Away Team'
  = f.errors_on :away_team

= f.number_field :round

.panel.panel-default
  .panel-heading Sets
  - if f.object.pending?
    %ul.list-group
      = f.fields_for :rounds do |rounds_f|
        = render 'round_fields', f: rounds_f
      %div{ id: "#{div.id}_rounds" }

    .panel-body
      = link_to_add_association f, :rounds, class: 'btn btn-default pull-right',
                                'data-association-insertion-node' => "##{div.id}_rounds" do
        %span.glyphicon.glyphicon-plus
        Add Set
  - else
    .panel-body Can't edit rounds unless scores are pending
