.card.mb-3#match-comms
  .card-header
    Match Communications (Match Comms)

  .card-body.p-0
    - comms.each do |comm|
      - if comm.exists?
        = render 'leagues/matches/comms/comm', match: match, comm: comm
      - elsif user_can_edit_league?
        = render 'leagues/matches/comms/comm_deleted', match: match, comm: comm

  - if user_can_comm?
    .p-3
      = bootstrap_form_for comm, as: :comm, url: match_comms_path(match) do |f|
        = render 'leagues/matches/comms/form', f: f

        .d-flex.justify-content-end
          = f.primary 'Post'

  .card-header Post Guidelines
  .card-body
    %p
      Please ensure your posts in Match Communications
      %b does not
      contain the following:
    %ul
      %li Anything unrelated to the match. This is an infractable offence.
      %li Anything that violates our Community Guidelines.

  .card-header Expected Match Details
  .card-body
    %p Your Match Communications should (by the end of that round) contain:
    %ul
      %li The agreed upon, scheduled match day and time.
      %li Indication as to which team won what map.
      %li logs.tf links for each map, which you can find easily via your ozfortress.com profile.
      %li Any mercenaries used within the match (it is expected that each team declares their approved mercenaries here).