.panel.panel-default
  .panel-heading Match Comms

  - match.comms.order(:created_at).includes(:user).each do |comm|
    - if match.home_team.on_roster?(comm.user)
      - roster = match.home_team
    - elsif match.away_team.on_roster?(comm.user)
      - roster = match.away_team

    .panel.panel-default
      .panel-heading
        .pull-right= comm.created_at.strftime('%c')
        - if roster
          = present(roster).link
          \:

        - team = roster.team if roster
        = render 'users/listing', user: comm.user, team: team

    .panel-body
      = markdown comm.content

  - if user_can_comm?
    %hr
    .panel-body
      = bootstrap_form_for comm, as: :comm, url: league_match_comms_path(league, match) do |f|
        = f.markdown_editor :content, hide_label: true, rows: 3

        = f.submit 'Submit'
