- no_team_fields = false if local_assigns[:no_team_fields].nil?

- unless no_team_fields
  / TODO: Properly handle errors here.
  / Currently there's a discreptency between using :home_team and :home_team_id
  / :home_team displays errors properly, :home_team_id works with the controller
  = f.collection_select :home_team_id, div.rosters.active, :id, :name,
                        include_blank: false, label: 'Home Team'
  = f.errors_on :home_team

  = f.collection_select :away_team_id, div.rosters.active, :id, :name,
                        include_blank: 'BYE', label: 'Away Team'
  = f.errors_on :away_team

= f.check_box :has_winner, label: 'Has a Distinct Winner'
= f.check_box :allow_round_draws, label: 'Allow set draws'
= f.number_field :round_number, label: 'Round Number (Used for ordering)'
= f.text_field :round_name, label: 'Round Name (Display Name)'
= f.markdown_editor :notice, id: dom_id(div), rows: 6

.panel.panel-default
  .panel-heading Picks & Bans
  - if f.object.pending?
    %ul.list-group
      = f.fields_for :pick_bans do |pick_bans_f|
        = render 'pick_ban_fields', f: pick_bans_f
      %div{ id: "#{div.id}_pick_bans" }

    .panel-body
      = link_to_add_association f, :pick_bans, class: 'btn btn-default pull-right',
                                render_options: { locals: { league: div.league } },
                                'data-association-insertion-node' => "##{div.id}_pick_bans" do
        %span.glyphicon.glyphicon-plus
        Add Set
  - else
    .panel-body Can't edit picks & bans unless scores are pending

.panel.panel-default
  .panel-heading Sets
  - if f.object.pending?
    %ul.list-group
      = f.fields_for :rounds do |rounds_f|
        = render 'round_fields', f: rounds_f, league: div.league
      %div{ id: "#{div.id}_rounds" }

    .panel-body
      = link_to_add_association f, :rounds, class: 'btn btn-default pull-right',
                                render_options: { locals: { league: div.league } },
                                'data-association-insertion-node' => "##{div.id}_rounds" do
        %span.glyphicon.glyphicon-plus
        Add Set
  - else
    .panel-body Can't edit rounds unless scores are pending
