- if match.pending? || user_can_edit_league?
  = render 'leagues/matches/match_pick_bans_form', match: match, pick_bans: pick_bans

  .panel-body
    - if match.picking_completed? || user_can_edit_league?
      = render 'leagues/matches/match_scores_form', match: match, rounds: rounds

    - unless user_can_edit_league?
      = button_to 'Forfeit', forfeit_match_path(match),
                  class: 'btn btn-danger', method: :patch,
                  data: { confirm: 'Are you sure you want to forfeit this match?' }

- if !match.pending? && !match.confirmed? # && !user_can_edit_league?
  %ul.list-group
    - rounds.each do |round|
      %li.list-group-item
        = link_to round.map, meta_map_path(round.map)
        |#{round.home_team_score} : #{round.away_team_score}|

  - if user_can_confirm_score?
    .panel-body
      = button_to confirm_match_path(match, confirm: true),
                  class: 'btn btn-success', method: :patch do
        Confirm Score

      = button_to confirm_match_path(match, confirm: false),
                  class: 'btn btn-danger', method: :patch do
        Challenge Score
