- past_pick_bans = pick_bans.select(&:completed?)
- next_pick_bans = pick_bans.select(&:pending?)

- past_pick_bans.each do |pick_ban|
  %li.list-group-item= present(pick_ban).status

- unless next_pick_bans.empty?

  - if user_can_submit_pick_ban?(next_pick_bans.first)
    %li.list-group-item
      - pick_ban = next_pick_bans.shift
      = bootstrap_form_for pick_ban, as: :pick_ban, url: submit_pick_ban_path(pick_ban),
                                     layout: :inline do |f|
        = f.collection_select :map_id, match.map_pool, :id, :name

        .pull-right= f.submit pick_ban.kind.humanize

  - next_pick_bans.each do |pick_ban2|
    %li.list-group-item= present(pick_ban2).status
