= f.select :home_team_id, teams_select(div), label: 'Home Team'
= f.select :away_team_id, teams_select(div), label: 'Away Team'

.panel.panel-default
  .panel-heading Sets
  %ul.list-group
    = f.fields_for :sets do |sets_f|
      = render 'set_fields', f: sets_f
    %div{ id: "#{div.name}_sets"}

  .panel-body
    = link_to_add_association f, :sets, class: 'btn btn-default pull-right',
                              'data-association-insertion-node' => "##{div.name}_sets" do
      %span.glyphicon.glyphicon-plus
      Add Set
