%table.table.table-responsive.matches-table
  %thead
    %th
    %th.match-home-team Home Team
    %th.match-vs vs
    %th.match-away-team Away Team
    %th
  %tbody
    - matches.each do |match|
      - match_p = present(match)
      %tr
        %td.match-round= match_p.round_s
        %td.match-home-team= match_p.home_team.link
        %td.match-vs
          - if match.no_forfeit?
            - present_collection(match.rounds).each do |round_p|
              = round_p.result(roster)
          - else
            = match_p.forfeit_s
        - if match.bye?
          %td.match-away-team= 'BYE'
        - else
          %td.match-away-team= match_p.away_team.link
        %td.match-view= match_p.link('Match Page')

