.panel.panel-default
  .panel-heading Match Comms

  %ul.list-group
    - match.comms.each do |comm|
      %li.list-group-item
        - if match.home_team.on_roster?(comm.user)
          - roster = match.home_team
        - elsif match.away_team.on_roster?(comm.user)
          - roster = match.away_team

        .panel.panel-default
          .panel-heading
            - if roster
              = link_to roster, league_roster_path(competition, roster)
              \:

            - team = roster.team if roster
            - present(comm.user) do |user|
              = user.listing team: team
            .pull-right= comm.created_at.strftime('%c')
        = markdown comm.content

  .panel-body
    = bootstrap_form_for comm, url: league_match_comms_path(competition, match) do |f|
      = f.text_area :content, hide_label: true, rows: 3

      = f.submit 'Submit'
