%li.list-group-item.nested-fields
  .row.form-inline
    .col-auto= f.select(:kind, f.object.class.kinds.map { |key, _| [key.humanize, key] }, label_class: 'mr-2')
    .col-auto= f.select(:team, f.object.class.teams.map { |key, _| [key.humanize, key] }, label_class: 'mr-2')
    .col-auto.ml-3= f.check_box :deferrable
    .col-auto.ml-auto
      = link_to_remove_association f, class: 'btn btn-danger' do
        = inline_svg_tag 'open_iconic/trash.svg', class: 'icon'
