%ul.nav.nav-tabs
  - @competition.divisions.each_with_index do |div, i|
    %li{ class: i == 0 ? 'active' : '' }
      %a{ data: { toggle: 'tab' }, href: "##{div.to_s.parameterize}" }
        = div

.tab-content
  - @competition.divisions.each_with_index do |div, i|
    %div{ id: div.to_s.parameterize,
          class: 'tab-pane fade' + (i == 0 ? ' in active' : '') }

      = bootstrap_form_for @match, url: generate_league_matches_path(@competition) do |f|
        = f.hidden_field :division_id, value: div.id
        .form-group
          %label.control-label Generator
          = select_tag :generate_kind, generation_select, name: 'competition_match[generate_kind]', include_blank: false, class: 'form-control'

        = render 'match_form', f: f, div: div, no_team_fields: true

        = f.submit 'Create Round'
        = link_to 'Cancel', league_matches_path(@competition), class: 'btn btn-default'
