%ul.nav.nav-tabs
  - @competition.divisions.each_with_index do |div, i|
    %li{ class: i == 0 ? 'active' : '' }
      %a{ data: { toggle: 'tab' }, href: "##{div.to_s.parameterize}" }
        = div

.tab-content
  - @competition.divisions.each_with_index do |div, i|
    %div{ id: div.to_s.parameterize,
          class: 'tab-pane fade' + (i == 0 ? ' in active' : '') }
      = bootstrap_form_for @match, url: league_matches_path(@competition) do |f|
        = render 'match_form', f: f, div: div

        = f.submit 'Create'
        = link_to 'Cancel', league_matches_path(@competition), class: 'btn btn-default'
