%ul.nav.nav-tabs
  - @league.divisions.each do |div|
    - klass = div == @division ? 'active' : ''

    %li{ class: klass }
      %a{ data: { toggle: 'tab' }, href: "##{div.to_s.parameterize}" }
        = div

.tab-content
  - @league.divisions.each do |div|
    - klass = div == @division ? ' in active' : ''

    %div{ id: div.to_s.parameterize, class: 'tab-pane fade' + klass }
      = bootstrap_form_for @match, url: league_matches_path(@league) do |f|
        = hidden_field_tag :division_id, div.id

        = render 'match_form', f: f, div: div

        = f.submit 'Create'
        = link_to 'Cancel', league_matches_path(@league), class: 'btn btn-default'
