- if user_can_edit_league?
  = link_to edit_league_match_path(@competition, @match), class: 'btn btn-default pull-right' do
    Edit
    %span.glyphicon.glyphicon-cog

%h1= @competition
%h2
  = @match.home_team
  vs
  = @match.away_team

.table-responsive
  %table.table
    %thead
      %tr
        %th Home Team
        %th Away Team
      %tr
        %th= link_to @match.home_team, league_roster_path(@competition, @match.home_team)
        %th= link_to @match.away_team, league_roster_path(@competition, @match.away_team)
    %tbody
      - home_players = @match.home_team.players
      - away_players = @match.away_team.players
      - [home_players.length, away_players.length].max.times do |i|
        %tr
          %th= user_listing(home_players[i]) if i < home_players.length
          %th= user_listing(away_players[i]) if i < away_players.length

- if @match.status == 'confirmed' && !user_can_edit_league?
  - if user_can_either_teams?
    = render 'match_results', match: @match, competition: @competition
- else
  = render 'match_scores', match: @match, competition: @competition

- if user_can_either_teams?
  = render 'match_comms', match: @match, competition: @competition, comm: @comm

