- if user_can_edit_league?
  = link_to edit_league_match_path(@competition, @match), class: 'btn btn-default pull-right' do
    Edit
    %span.glyphicon.glyphicon-cog

%h1 #{link_to @competition, league_path(@competition)}: #{@match.home_team.division}
%h2
  = present(@match.home_team).link
  vs
  = present(@match.away_team).link

.table-responsive
  %table.table
    %thead
      %tr
        %th Home Team
        %th Away Team
      %tr
        %th= present(@match.home_team).link
        %th= present(@match.away_team).link
    %tbody
      - home_players = @match.home_team.player_users
      - away_players = @match.away_team.player_users
      - [home_players.length, away_players.length].max.times do |i|
        %tr
          - if i < home_players.length
            - present(home_players[i]) do |user|
              %th= user.listing team: @match.home_team.team

          - if i < away_players.length
            - present(away_players[i]) do |user|
              %th= user.listing team: @match.away_team.team

- if @match.status == 'confirmed' && !user_can_edit_league?
  = render 'match_results', match: @match, competition: @competition
- elsif user_can_either_teams?
  = render 'match_scores', match: @match, competition: @competition

- if user_can_either_teams?
  = render 'match_comms', match: @match, competition: @competition, comm: @comm

