- match_p = present(@match)

- content_for(:title) { "#{match_p} | #{@league.name}" }

- if user_can_edit_league?
  = link_to edit_match_path(@match), class: 'btn btn-default pull-right' do
    Edit
    %span.glyphicon.glyphicon-cog

%h1 #{present(@league).link}: #{@match.home_team.division}
%h2= match_p.title

- unless @match.bye?
  = render 'leagues/matches/players_table', match: @match, match_p: match_p

  .panel.panel-default
    .panel-heading Results #{match_p.status}

    - can_view_scores = !@match.confirmed? && user_can_either_teams? && @league.matches_submittable?
    - if can_view_scores || user_can_edit_league?
      = render 'leagues/matches/match_scores', match: @match, pick_bans: @pick_bans, rounds: @rounds
    - else
      = render 'leagues/matches/match_results',
               match: @match, pick_bans: @pick_bans, rounds: @rounds

  - unless @match.notice.blank?
    .panel.panel-default
      .panel-heading Match Notice
      .panel-body= markdown @match.notice

  - if @match.home_team.schedule_data && @match.away_team.schedule_data
    = render 'leagues/matches/schedule', match: @match, league: @league

  = render 'leagues/matches/match_comms', league: @league, match: @match, comm: @comm, comms: @comms
