= f.text_field :title

= f.fields_for post do |post_f|
  = render 'forums/posts/form', f: post_f

- if user_can_manage_thread?
  .form-group
    %label
      Status

    .row
      .px-3.py-1= f.check_box :locked, label: 'Locked'
      .border-right.d-none.d-md-block
      .px-3.py-1= f.check_box :pinned, label: 'Pinned'
      .border-right.d-none.d-md-block
      .px-3.py-1= f.check_box :hidden, label: 'Hidden'
