= f.text_field :title

= f.fields_for post do |post_f|
  = render 'forums/posts/form', f: post_f

- if user_can_manage_thread?
  .form-group
    %label
      Status

    .row
      .px-3.py-1= f.check_box :locked, label: 'Locked', label_class: 'pl-1'
      .px-3.py-1= f.check_box :pinned, label: 'Pinned', label_class: 'pl-1'
      .px-3.py-1= f.check_box :hidden, label: 'Hidden', label_class: 'pl-1'
