- content_for(:title) { "Edit: #{@thread.title} | Forums" }

= render 'forums/head', object: @thread

.panel.panel-default
  .panel-body
    = bootstrap_form_for @thread do |f|
      = render 'form', f: f, post: @post

      = f.submit 'Update'
      = link_to 'Cancel', :back, class: 'btn btn-default'

- if user_can_manage_thread?
  .panel.panel-danger
    .panel-heading Danger Zone
    .panel-body
      = button_to forums_thread_path(@thread), method: :delete, class: 'btn btn-danger',
                  data: { confirm: 'Are you sure you want to delete this Thread?' } do
        %span.glyphicon.glyphicon-trash
        Delete
