- content_for(:title) { 'New Thread | Forums' }

%h4.pull-right Create a new Thread

= render 'forums/head', object: @thread.topic

= bootstrap_form_for @thread, url: forums_threads_path(topic: @thread.topic) do |f|
  = render 'form', f: f, post: @post

  = f.submit 'Create'
  = link_to 'Cancel', :back, class: 'btn btn-default'
