- content_for(:title) { "#{@thread.title} | Forums" }

.mb-5#forum-thread
  = render 'forums/head', object: @thread, subheading: present(@thread).status_icons

  .row.no-gutters.align-items-center.mb-2

    - if user_can_edit_thread?
      = link_to edit_forums_thread_path(@thread), class: 'btn btn-sm btn-admin mr-2 mb-2' do
        = inline_svg_tag 'open_iconic/pencil.svg', class: 'icon mr-2'
        %span
          Edit thread

    .status.mx-2.mb-2

    - if user_signed_in?
      .ml-auto
        = render 'subscribe_btn', thread: @thread

  .d-flex.justify-content-end
    = bootstrap_paginate @posts

  - @posts.each do |post|
    = render post, quote_id: 'wmd-input-new-forums-post'

  .d-flex.justify-content-end
    = bootstrap_paginate @posts


  - if user_can_create_post?
    = bootstrap_form_for @post, url: forums_thread_posts_path(@thread, page: @page) do |f|
      = render 'forums/posts/form', f: f

      .row.justify-content-end
        .col-auto
          = f.submit 'Post', class: 'btn btn-primary'
