- comment_p = present(comment)

.panel.panel-danger
  - collapse_id = comment.paths.dom_id('collapse')
  %button.btn.btn-link.pull-right{ data: { toggle: :collapse, target: "##{collapse_id}" } }
    .glyphicon.glyphicon-menu-down

  .panel-heading

    #{comment_p.deleted_at},
    = comment_p.deleted_by.link
    deleted post by
    = comment_p.created_by.link
  .collapse{ id: collapse_id }
    = render 'users/comments/comment', user: user, comment: comment, quote_id: quote_id
