- content_for(:title) { "Edit Comment | #{@user.name}" }

%h1= link_to @user.name, user_path(@user)

%hr

.panel.panel-default
  .panel-body
    = bootstrap_form_for @comment, as: :comment, url: user_comment_path(@user, @comment) do |f|
      = render 'form', f: f

      = f.submit 'Update'
      = link_to 'Cancel', :back, class: 'btn btn-default'

.panel.panel-danger
  .panel-heading Danger Zone
  .panel-body
    - if @comment.exists?
      = button_to @comment.paths.destroy, method: :delete, class: 'btn btn-danger',
                  data: { confirm: 'Are you sure you want to delete this Comment?' } do
        %span.glyphicon.glyphicon-trash
        Delete

    - else
      = button_to @comment.paths.restore, method: :patch, class: 'btn btn-warning',
                    data: { confirm: 'Are you sure you want to restore this Comment?' } do
        Restore
