%li.nav-item{ class: navbar_class(:home) }
  = link_to('Home', :pages_home, class: 'nav-link')

%li.nav-item{ class: navbar_class(:users) }
  = link_to('Users', :users, class: 'nav-link')

%li.nav-item{ class: navbar_class(:teams) }
  = link_to('Teams', :teams, class: 'nav-link')

%li.nav-item{ class: navbar_class(:forums) }
  = link_to('Forums', :forums, class: 'nav-link')

%li.nav-item{ class: navbar_class(:leagues) }
  = link_to('Leagues', :leagues, class: 'nav-link')

%li.nav-item.dropdown
  %a.nav-link.dropdown-toggle{ role: :button, data: { toggle: :dropdown } }
    About
    %span.caret

  .dropdown-menu
    = link_to('Rules', :rules, class: 'dropdown-item')
    = link_to('Community Rules', :community_rules, class: 'dropdown-item')
    = link_to('Infractions', :infractions, class: 'dropdown-item')
    = link_to('Staff', :staff, class: 'dropdown-item')
    = link_to('Bans', :bans, class: 'dropdown-item')

%li.nav-item.dropdown
  %a.nav-link.dropdown-toggle{ role: :button, data: { toggle: :dropdown } }
    Help
    %span.caret

  .dropdown-menu
    = link_to('Server Configs', :server_configs, class: 'dropdown-item')
    = link_to('Book a Server', :book_server, class: 'dropdown-item')
    = link_to('Newbie Guide', :newbie_guide, class: 'dropdown-item')
    = link_to('Transfers', :transfers, class: 'dropdown-item')
    = link_to('Verify Rosters', 'https://verify.ozfortress.com', target: :_blank, rel: :noopener,
                                                                 class: 'dropdown-item')
    = link_to('Demos', 'https://demos.ozfortress.com', target: :_blank, rel: :noopener, class: 'dropdown-item')

- if user_signed_in? && current_user.admin?
  %li.nav-item{ class: navbar_class(:admin) }
    = link_to('Admin', :admin, class: 'nav-link')
