%li{ class: navbar_class(:home) }
  = link_to('Home', :pages_home)

%li{ class: navbar_class(:users) }
  = link_to('Users', :users)

%li{ class: navbar_class(:teams) }
  = link_to('Teams', :teams)

%li{ class: navbar_class(:forums) }
  = link_to('Forums', :forums)

%li{ class: navbar_class(:leagues) }
  = link_to('Leagues', :leagues)

%li.dropdown
  %a.dropdown-toggle{ role: :button, data: { toggle: :dropdown } }
    About
    %span.caret

  %ul.dropdown-menu
    %li{ class: navbar_class(:rules) }
      = link_to('Rules', :rules)

    %li{ class: navbar_class(:staff) }
      = link_to('Staff', :staff)

%li.dropdown
  %a.dropdown-toggle{ role: :button, data: { toggle: :dropdown } }
    Help
    %span.caret

  %ul.dropdown-menu
    %li{ class: navbar_class(:server_configs) }
      = link_to('Server Configs', :server_configs)

- if user_signed_in? && current_user.admin?
  %li{ class: navbar_class(:admin) }
    = link_to('Admin', :admin)
