- cls = 'notification'
- if notification.read
  - cls += ' read'

- notification_p = present(notification)

%li.list-group-item.d-flex.flex-column.p-2{ class: cls,
                                            id: "notification_#{notification.id}" }

  .row.no-gutters
    .col.pl-2
      .row.no-gutters
        = notification_p.link(class: '')

      .row.no-gutters
        %small.text-muted #{notification_p.created_at_in_words} ago

    .col-auto
      = button_to notification_path(notification.id), method: :delete, remote: true,
                  class: 'btn delete px-1 py-0' do
        = inline_svg_tag 'open_iconic/x.svg', class: 'icon'
