.panel.panel-default
  .panel-heading External Links
  %ul.list-group
    %li.list-group-item
      = image_tag 'discord-logo.png'

      = link_to 'https://discord.gg/7E6kC2H', target: '_blank', rel: 'noopener', class: 'btn btn-success pull-right' do
        Join our Discord
    %li.list-group-item
      = image_tag 'steam/steam-logo.png'

      = link_to 'http://steamcommunity.com/groups/ozfortress', target: '_blank', rel: 'noopener', class: 'pull-right' do
        Join our Steam Group
    %li.list-group-item
      = image_tag 'twitter-logo.png'

      = link_to 'http://twitter.com/ozfortress', target: '_blank', rel: 'noopener', class: 'pull-right' do
        Follow us on Twitter
    %li.list-group-item
      = image_tag 'facebook-logo.png'

      = link_to 'http://facebook.com/ozfortress', target: '_blank', rel: 'noopener', class: 'pull-right' do
        Like us on Facebook
