.card
  .card-header External Links
  %ul.list-group.list-group-flush
    %li.list-group-item
      = link_to 'https://discord.gg/7E6kC2H', target: '_blank', rel: :noopener do
        = image_tag 'discord-logo.png', width: 32
        Join our Discord
    %li.list-group-item
      = link_to 'https://www.patreon.com/ozfortress/', target: '_blank', rel: :noopener do
        = image_tag 'patreon-logo.png', width: 32
        Support us on Patreon
    %li.list-group-item
      = link_to 'http://twitter.com/ozfortress', target: '_blank', rel: :noopener do
        = image_tag 'twitter-logo.png', width: 32
        Follow us on Twitter
    %li.list-group-item
      = link_to 'https://www.youtube.com/channel/UCKnMgeTAHzdttd8TXE9UOgw', target: '_blank', rel: :noopener do
        = image_tag 'youtube-logo.png', width: 32
        Subscribe to us on YouTube
    %li.list-group-item
      = link_to 'http://steamcommunity.com/groups/ozfortress', target: '_blank', rel: :noopener do
        = image_tag 'steam/steam-logo.png', width: 32
        Join our Steam Group
    %li.list-group-item
      = link_to 'http://facebook.com/ozfortress', target: '_blank', rel: :noopener do
        = image_tag 'facebook-logo.png', width: 32
        Like us on Facebook
