!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title citadel
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.banner-citadel#banner
      .banner-container-citadel
        .banner-background-citadel
          = image_tag 'background.png'
        .banner-logo-citadel
          = link_to pages_home_path do
            = image_tag 'logo.png'

    %nav.navbar.navbar-citadel.affix-top#navbar{ role: 'navigation',
                                             data: { spy: 'affix', 'offset-top' => 106 } }
      .container
        .row
          %button.navbar-toggle.collapsed.navbar-left{ type: 'button',
                                                       data: { toggle: 'collapse',
                                                               target: '#navbar-collapse' } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .collapse.navbar-collapse.navbar-left#navbar-collapse
            %ul.nav.navbar-nav
              %li{ class: navbar_class(:home) }
                = link_to('Home', :pages_home)

              %li{ class: navbar_class(:recruitment) }
                = link_to('Recruitment', :users)

              %li{ class: navbar_class(:teams) }
                = link_to('Teams', :teams)

              %li{ class: navbar_class(:leagues) }
                = link_to('Leagues', :leagues)

              - if user_signed_in? && current_user.admin?
                %li.divider-vertical

                %li{ class: navbar_class(:admin) }
                  = link_to('Admin', :admin)

          .navbar-right
            %ul.nav.navbar-nav
              - if user_signed_in?
                %li
                  %a.dropdown-toggle{ data: { toggle: 'dropdown' } }
                    = current_user.name
                    %span.caret
                  %ul.dropdown-menu
                    %li= link_to('Profile', user_path(current_user))
                    %li= link_to('Settings', edit_user_path(current_user))
                    %li= link_to('Logout', logout_user_path)
              - else
                %li
                  = link_to(image_tag('steam/login.png'),
                            user_steam_omniauth_authorize_path,
                            id: 'login')

    .container
      .row
        .col-md-9
          = yield
        .col-md-3
          = render 'sidebar'
