!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ozfortress
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header#banner.banner-ozf
      .container
        %a= image_tag 'ozfortress_logo.png'

    %nav#navbar.navbar.navbar-ozf.affix-top{role: 'navigation', data: {spy: 'affix', 'offset-top' => 106}}
      .container
        #navbar-collapse.collapse.navbar-collapse.navbar-left
          %ul.nav.navbar-nav
            %li.active= link_to('Home', :pages_home)
            %li= link_to('Forums', :pages_home)
            %li= link_to('Warzone', :pages_home)
            %li= link_to('Maps', :pages_home)
            %li= link_to('Mediacentral', :pages_home)
        .navbar-right
          %ul.nav.navbar-nav
            %li.btn= image_tag 'steam/login.png'

    .container
      = yield

