!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    - viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    %meta{ name: 'viewport', content: viewport }
    %title ozfortress
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.hidden-xs.banner-citadel#banner
      .banner-container-citadel
        .banner-background-citadel
          = image_tag 'background2.png'
        .banner-logo-citadel
          = link_to pages_home_path do
            = image_tag 'logo.svg', height: '70px'

    %nav.navbar.navbar-citadel.affix-top#navbar{ role: 'navigation',
                                                 data: { spy: 'affix',
                                                         'offset-top' => 106 } }
      .container
        .row
          - if user_signed_in?
            %ul.nav.navbar-header.navbar-right
              %li= render 'user_dropdown'
            %ul.nav.navbar-header.navbar-right
              %li= render 'notifications', notifications: @notifications
          - else
            %ul.nav.navbar-header.navbar-right
              %li= render 'user_signin'

          %button.navbar-toggle.collapsed.navbar-left{ type: 'button',
                                                       data: { toggle: 'collapse',
                                                               target: '#navbar-collapse' } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          .visible-xs.pull-left.banner-logo-citadel
            = image_tag 'logo.svg', height: '30px'

          .collapse.navbar-collapse.navbar-left#navbar-collapse
            %ul.nav.navbar-nav= render 'navbar'

    .container#content
      .row
        .col-md-9
          = yield
        .col-md-3
          = render 'sidebar'
