!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    - viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    %meta{ name: 'viewport', content: viewport }
    %title= (content_for :title) || 'ozfortress'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = content_for :head
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-dark.bg-dark.fixed-top.align-items-stretch.navbar-expand-lg
      %button.navbar-toggler{ type: :button, data: { toggle: 'collapse', target: '#main-menu' },
                              class: 'btn border-0 mr-2 p-2 order-0',
                              area: { controls: 'main-menu', expanded: 'false', label: 'Toggle main menu' } }
        %span.navbar-toggler-icon

      = link_to('/', class: 'navbar-brand order-2') do
        = image_tag 'logo-small.svg', height: '40px', width: '63px'

      - if user_signed_in?
        .d-flex.align-items-center.position-relative.ml-auto.order-4
          = render 'notifications_dropdown', notifications: @notifications
        .d-flex.align-items-center.position-relative.ml-3.order-5
          = render 'user_dropdown'
      - else
        .d-flex.align-items-center.position-relative.ml-auto.order-4
          = render 'user_signin'

      .collapse.navbar-collapse.order-6.order-lg-3#main-menu
        %ul.navbar-nav= render 'navbar'

    .container.my-3#content
      .row
        .col-md-9
          = render 'flashes'
          = yield
        .col-md-3
          = render 'sidebar'
